@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.logo {
  color: var(--color-light-greenish-100);
  font-size: var(--body-font-size);
  margin-bottom: var(--spacing-tiny);
}

.headers a:hover {
  text-decoration: none;
}

[data-preview] {
  border-radius: 4px 4px 0 0;
  border-color: #dfe3e6;
  background-color: #fefefe;
}

/* stylelint-disable selector-max-type */

[data-preview] + div {
  border-left: 1px solid #dfe3e6;
  border-right: 1px solid #dfe3e6;
}

[data-preview] + div + div {
  border: 1px solid #dfe3e6;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

[data-preview] + div button { padding: 16px; }

/* stylelint-enable */

.headers > div > h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  padding-left: var(--spacing-small);
  margin: var(--spacing-medium) 0;
  border-left: 4px solid var(--color-light-greenish-100);
}

.headers h2 {
  color: #333333;
  font-size: 28px;
  font-weight: bold;
}

.headers h2 > a {
  margin-top: 16px;
  display: block;
}
