.container {
  height: 100vh;
  background-color: #f9f9f9;
}

@media screen and (width <= 1024px) {

  .columnContainer {
    height: 80vh;
  }
}

.contentLeft,
.contentRight {
  align-items: baseline;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 80%;
  justify-content: space-between;
  max-width: 100%;
  min-height: 550px;
  padding-bottom: 48px;
  padding-top: 48px;
  width: 375px;
}

@media screen and (max-width: 768px) {

  .contentLeft,
  .contentRight {
    height: 100%;
    max-width: 375px;
    min-height: auto;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
  }
}

.title {
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 13px;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.uppercase > p > span {
  display: block;
  width: 100%;
}

.paragraph {
  line-height: 1.7;
}

.login .paragraph,
.signIn .paragraph {
  text-transform: uppercase;
}

.logo {
  width: 100%;
}

.login,
.signIn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.hugeButton,
.hugeButton button {
  flex: 1;
  width: 100%;
}

.actions {
  align-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 45px;
  width: 100%;
}

.contentRight .actions {

  & > a {
    color: #757575;
    font-size: 12px;
    padding: 10px 0;
    text-transform: uppercase;
  }

  & > a:hover,
  & > a:active {
    color: #bababa;
  }
}

.contentRight .login,
.contentRight .signIn {

  & > div {
    padding-top: 45px;
  }
}

.signInBlock {
  padding-bottom: 16px;

  & span {
    line-height: 30px;
  }
}

.signInLink {
  color: #73dbb8;
  margin-left: 0.5em;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    color: #32b88b;
  }

  &:visited {
    color: #2b9e77;
  }
}

.confirmation .actions {
  padding-bottom: 35px;
}
