.context {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-top: 16px;
  }
}

.multiLine,
.singleLine {
  border: 1px solid;
}

.multiLine {
  height: 100px;
  max-width: 300px;
}

.resizable {
  resize: both;
}

.singleLine {
  height: 20px;
  padding: 0 5px;
  margin: 5px;
  box-sizing: border-box;
}

.textarea {
  width: 300px;
  min-height: 200px;
}
