@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.section {
  padding: var(--spacing-small);

  & > h2 {
    margin: 0 0 var(--spacing-small);
  }
}

.dark {
  background-color: var(--color-squanchy-gray-100);

  & h2 {
    color: var(--color-white);
  }
}

.light {
  background-color: var(--color-white);

  & h2 {
    color: var(--color-squanchy-gray-400);
  }
}
